:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --primery-accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

.html {
  box-sizing: border-box;
}

.body {
  background-color: #ffffff;
  color: var(--primary-title-color);
  font-family: roboto, sans-serif;
  margin: 0;
}

.page-header {
  padding: 24px 0px;
  margin-bottom: 95px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-header {
  color: var(--primary-black-color);
  font-family: raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 85px;
}

.logo-accent {
  color: var(--primery-accent-color);
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav {
  list-style-type: none;
}

.site-nav .list-current {
  color: var(--primary-text-color);
}

/* site-nav*/

.site-nav list a {
  color: var(--primary-title-color);
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav {
  display: flex;
}

.site-nav:hover,
.site-nav:focus {
  color: var(--primery-accent-color);
}

.site-nav-adress a {
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-adress {
  list-style-type: none;
  margin-left: auto;
}

.site-nav-adress {
  display: flex;
}

.site-nav-adress .item + .item {
  margin-left: 30px;
}

.site-nav-adress a:hover,
.site-nav-adress a:focus {
  color: var(--primery-accent-color);
}

.hero {
  text-align: center;
  margin-bottom: 94px;
}

.hero-title {
  color: #ffffff;
  background-color: gray;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-text);
  text-align: center;
  padding: 10px 32px;
  display: inline-block;
}

.button {
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 95px;
}

.product {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.product .item {
  margin-right: 30px;
  width: calc((100% - 30px * 3) / 4);
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.product-features:hover,
.product-features:focus {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.project {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-bottom: 50px;
}

.section-duties {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.service-item {
  width: calc((100% - 30px) / 3);
  margin-right: 30px;
}

.duties {
  color: var(--primary-white-color);
  background-color: var(--footer-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style-type: none;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-bottom: 50px;
}

.our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.our-team:not(:last-child) {
  width: calc((100% - 30px) / 4);
  margin-right: 30px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-nav-list {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.section-nav-list {
  list-style-type: none;
}

.networks-link a:hover,
.networks-link a:focus {
  color: var(--primery-accent-color);
}

.regular-customers {
  list-style-type: none;
}

.regular-customers {
  display: flex;
}

.clients:not(:last-child) {
  width: calc((100% - 30px) / 6);
  margin-right: 30px;
  margin-bottom: 94px;
}

.img-regular-customers:hover {
  background-color: var(--accent-text);
}

/*footer*/
.bg-color {
  color: #2f303a;
  height: 252px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 214px;
}

.bg-color {
  list-style-type: none;
}

.logo-link {
  display: block;
  margin-bottom: 20px;
}

.address-footer {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-hight: 24px;
  letter-spacing: 0.03em;
}

.footer-link a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-hight: 24px;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

.footer-link {
  list-style-type: none;
}

.networks {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-networks {
  list-style-type: none;
}

.networks-link a {
  color: var(--primary-white-color);
  text-decoration: none;
  list-style-type: none;
}

.footer-nav-link {
  display: flex;
  margin-left: 10px;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--primery-accent-color);
}

/* portfolio*/
body {
  background-color: #ffffff;
  color: var(--primary-title-color);
}

.logo-link a {
  color: var(--primary-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  width: 49px;
  height: 16px;
}

.site-nav .link-current {
  color: var(--primary-text-color);
}

.logo-accent {
  color: var(--primery-accent-color);
}

.site-nav a {
  color: var(--primary-title-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--primery-accent-color);
  text-decoration: none;
}

.site-nav .adress {
  color: var(--primary-text-color);
}

.button-list {
  color: var(--primary-title-color);
  background-color: #f5f4fa;
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  width: 128px;
  height: 38;
}

.button-list:hover,
.button-list:focus {
  color: #ffffff;
  background-color: var(--primery-accent-color);
}

.portfolio-filter-list {
  list-style-type: none;
}

.heading-project:hover,
.heading-project:focus {
  color: var(--primery-accent-color);
}

.heading-project {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-project {
  list-style-type: none;
}

.project {
  font-family: roboto, sans serif;
  font-style: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.text-project {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

/*footer*/
.bg-color {
  color: #ffffff;
  background-color: #2f303a;
}

.logo-link {
  color: #ffffff;
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-link:hover,
.logo-link:focus {
  color: var(--primery-accent-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style-type: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--primery-accent-color);
}

.address-footer {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-hight: 24px;
  letter-spacing: 0.03em;
}

.networks {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.networks-link a {
  color: var(--primary-white-color);
}

.footer-nav-link a {
  color: var(--primary-white-color);
  text-decoration: none;
  margin-right: 10px;
}

.footer-nav-link {
  list-style-type: none;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--primery-accent-color);
}

.button:hover,
.button:focus {
  color: var(--primery-accent-color);
}
